body {
  @import url(http://fonts.googleapis.com/css?family=Orbitron:400,700,500);
  font: 62.5% "orbitron", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 0.0925em;
  color: #CCC;
  background-color:black;
  border:none !important;
}
div#toolbar{
  background-color: #000;
  background-image: none;
  border-color:#aaa;
  border:none;
  margin-bottom: 1px;
}
div#torrent_container{
  border:none;
}
#statusbar{
  background-image:none;
  background-color:black;
  border:none none;
}
ul.torrent_list li.torrent {
    border-bottom: none;
    padding: 4px 30px 5px 14px;
    color: orangered;
    background-color: #000;
}
ul.torrent_list li.torrent:hover,ul.torrent_list li.torrent.even:hover {background-color:#222}
ul.torrent_list li.torrent div.torrent_name {
    color: greenyellow;
}
ul.torrent_list li.torrent.even {
    background-color: #021;
}
ul.torrent_list li.torrent.selected {
    background-color: #137;
}
div#torrent_container{
  background-color:black;
}
tr.inspector_peer_entry.odd {
    background-color: #123;
}
ul.torrent_list li.torrent.compact div.torrent_name {
    color:greenyellow !important;
}
div#torrent_inspector div.tracker_host {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(216, 28, 28);
}
div#torrent_inspector ul.tier_list .odd, div#torrent_inspector ul.tier_list .even {
  border-radius: 7px;
  margin: 19px auto 19px auto;
  background-color:#272727;
}

div#torrent_inspector ul.tier_list .even .tracker_host {
  color: yellow;
}
div#torrent_inspector ul.tier_list .even .tracker_activity {
  color: orange;
}

div#torrent_inspector ul.tier_list .odd .tracker_host {
  color: yellowgreen;
}

div#torrent_inspector ul.tier_list .odd .tracker_activity {
  color: orange;
}
.inspector_group_label{
  color: white;
}

#inspector-page-info{
  background-color: #272727;
  color: yellowgreen;
  border-radius: 7px;
  padding: 3px 0px 7px 0px;
  margin-top: 10px;
  
}
div#torrent_inspector div.inspector_torrent_file_list_entry_name {
  color:yellow;
}
div#torrent_inspector div.inspector_torrent_file_list_entry_progress{
  color: yellowgreen;
}
